{% extends "/layout/profile.html" %}

{% macro productSummary(application, i18n) %}
{# {% set cta = {} %}
{% for edition in application.editions.items %}
    {% if edition.primary %}
        {% set cta = edition.callToAction %}
    {% endif %}
{% endfor %}
{% if not cta.label %}
    {% set cta = {label: application.editions.items[0].callToAction.label} %}
{% endif %} #}
<div class="container">
    <div class="row align-items-center product-summary">
        <div class="col-12 col-lg-8 d-flex align-items-start mb-3 mb-lg-0">
            <div class="mr-3">
                <img src="{{application.summary.logoSrc}}"/>
            </div>
            <div>
                <h4 class="heading heading--4 heading--regular mt-0 mb-1 product-summary-title text-left">
                    {{application.summary.title}}
                </h4>
                <div class="body-text product-summary-detail text-left">
                    {{application.summary.details}}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            {% if application.callToActions.caption.text %}
            <div class="row owned-product"><small>{{ application.callToActions.caption.text }}</small></div>
            {% endif %}
            <div class="row d-flex justify-content-center">
            {% for cta in application.callToActions.items %}
            <a href="{{ cta.url }}" role="button" class="button button--primary--white
            {{ 'request-button' if edition.callToAction.actionType == "REQUEST_ACCESS" or edition.callToAction.actionType == "REQUEST_PURCHASE" }}
            "
            {% if cta.actionType == "LEAD_GEN" %}
            data-toggle="modal"
            data-target="#leadModal"
            {% endif %}
            {% if cta.actionType == "REQUEST_ACCESS" %}
            data-toggle="modal"
            data-target="#requestAccessModal"
            {% endif %}
            >
            {{i18n.cta_labels[cta.actionType] or cta.label }}
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
