{% extends "/layout/profile.html" %}


{% from "/macros/analytics.html" import utagDataScript %}
{% from "/macros/breadcrumb/breadcrumb.html" import breadcrumb %}
{% from "/macros/profile/profile-lead-form.html" import LeadModal %}
{% from "/macros/profile/profile-lead-form-new.html" import leadForm %}

{% block contentSection %}

{% from "/pages/profile/components/grid-features.html" import productFeatures %}
{% from "/pages/profile/components/bundles.html" import productBundles %}
{% from "/pages/profile/components/reviews.html" import reviews %}
{% from "/pages/profile/components/policies-support.html" import support %}
{% from "/pages/profile/components/addons.html" import addons %}


{% block content %}
{% from "/pages/profile/components/product-summary.html" import productSummary %}
{% from "/pages/profile/components/editions-pricing.html" import editionsPricing with context %}
{% from "/pages/profile/components/addon-products.html" import addonProducts with context %}
{% from "/macros/sliders/carousel.html" import carousel with context %}
{% from "/pages/profile/components/simple-tabs.html" import productTabs %}
{% from "/pages/profile/components/overview.html" import productOverview %}
{% from "/pages/profile/components/support.html" import productSupport with context %}

{% set breadcrumbData = [{label: i18n.Home, link: '/'+ config.locale.code +'/home'}] %}
{% if application.categories.items.length > 0 %}
{% set breadcrumbData = (breadcrumbData.push({label: application.categories.items[0].label, link:  application.categories.items[0].href}), breadcrumbData) %}
{% endif %}
{% set breadcrumbData = (breadcrumbData.push({label: application.summary.title}), breadcrumbData) %}

{% block data %}
<data type="navigator"/>
{% endblock %}

{{breadcrumb(breadcrumbData)}}
<script src="{{ r('/assets/js/action-api.js') }}"></script>
<script src="{{ r('/assets/js/profile-leads.js') }}"></script>

{{ leadForm(application.leads) }}

<div class="modal  fade" id="requestPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="requestPurchaseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ application.leads.form.otherData.profileProduct.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ application.callToActions.caption.text }}
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 col-12 text-left">
                        {% set cta = {} %}
                        {% for currentCta in application.callToActions.items %}
                        {% if currentCta.actionType == "REQUEST_PURCHASE" %}
                            {% set cta = currentCta %}
                        {% endif %}
                        {% endfor %}
                        <a href="{{cta.url}}" type="button" class="button button--primary button--full-width">
                            {{ msg.i18n.select }}
                        </a>
                    </div>
                    <div class="col-md-6 col-12 text-right">
                        <button type="button" class="button button--secondary button--full-width" data-dismiss="modal">
                            {{ msg.i18n.cancel }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal  fade" id="requestAccessModal" tabindex="-1" role="dialog" aria-labelledby="requestPurchaseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ application.leads.form.otherData.profileProduct.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% set cta = null %}
                {% for ctaInApplication in application.callToActions.items %}
                    {% if ctaInApplication.actionType == 'REQUEST_ACCESS' %}
                        {% set cta = ctaInApplication %}
                    {% endif%}
                {% endfor %}
                {% if not cta %}
                    {% for edition in application.editions.items %}
                        {% if edition.callToAction.actionType == 'REQUEST_ACCESS' %}
                            {% set cta = edition.callToAction %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {{ cta.popup.text }}
            </div>
            <div class="modal-footer">
                <div class="row" style="width: 100%">
                    <div class="col-md-6 col-12 text-left">

                        <a href="{{cta.url}}" type="button" class="button button--primary button--full-width">
                            {{ cta.popup.i18n.select }}
                        </a>
                    </div>
                    <div class="col-md-6 col-12 text-right">
                        <button type="button" class="button button--secondary button--full-width" data-dismiss="modal">
                            {{ cta.popup.i18n.cancel }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    const submitLead = () => {
      API = new ActionAPI();
      API.post(
          $('#leadGenForm').prop('action'),
          JSON.stringify(leadParser.getData({
                endpoint: {{ application.leads.form.actionEndpoint | dump | safe }},
                otherData: {{ application.leads.form.otherData | dump | safe }},
                customFields: {{ application.leads.form.schema.custom | dump | safe }},
                i18n: {{ application.leads.i18n | dump | safe }}
            })),
          function() {
              $('#leadGenNotification').removeClass('hide');
              $('#leadGenFormData').addClass('hide');
              $('.modal-footer').addClass('hide');
              $('#leadGenNotificationError').addClass('hide');
          },
          function() {
              $('#leadGenRequestError').removeClass('hide');
          }
      );
    }
    var handleCustomFormElements = function () {
        $('.form-check-input.required').click(function () {
            var inputId = $(this).attr('class').match(/custom\d+/)[0]
            var hidden = $("#" + inputId).val()
            var newVal = $(this).val()
            if ( hidden.replace(newVal, "") === hidden) {
                $("#" + inputId).val(hidden + newVal)
            } else {
                $("#" + inputId).val(hidden.replace(newVal, ""))
            }
        })
    }

    $("#submitLeadGen").on("click", function(e) {
        e.preventDefault();

        $("#leadGenForm").validate({ignore: '.hidden'})
        if ($("#leadGenForm").valid()) {
            submitLead()
        }
    })

    var toggleStates = function() {
        var $container = $("#leadModal");
        var selectedCountry = $container.find('#country').val();
        var selectedPhoneCode = $container.find('#country option:selected').data('custom-value')
        var provinceSection = $container.find('#province').parent();
        var stateSection = $container.find('#state').parent();
        provinceSection.addClass("hidden");
        stateSection.addClass("hidden");
        var provinceSelect = $container.find('#province');
        var stateSelect = $container.find('#state');
        provinceSelect.addClass("hidden");
        stateSelect.addClass("hidden");
        
        if (selectedCountry === "US" || selectedCountry === "USA") {
            stateSection.removeClass("hidden");
            stateSelect.removeClass("hidden");
        }
        if (selectedCountry === "CA" || selectedCountry === "CAN") {
            provinceSection.removeClass("hidden");
            provinceSelect.removeClass("hidden");
        }
        $('#prefix').html("+" + selectedPhoneCode);
        $('#phone').data('prefix', "+" + selectedPhoneCode)
    }
    $(document).ready(function () {
        toggleStates()
        handleCustomFormElements()
        $(document).find('#country').change(function (e) {
            toggleStates()
        })
    })
  </script>
<section class="position-relative section--white p-0">
    <img src="{{r('/assets/images/banner-2-red.png')}}" style="width: 100%;" class="section-bg"/>
    {{productSummary(application, i18n.custom)}}
</section>
<div id="apptop" data-vue-page="profile">
    <div id="profile-page" class="profile-page">
        <section class="container">
            {{ productTabs(application) }}
        </section>
        <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none">
            <div class="container">
                <div class="text-center" id="requestPurchaseSuccess" style="display: none">
                    {{ application.callToActions.caption.text }}
                </div>
                <div class="text-center" id="requestAccessSuccess" style="display: none">
                    {{ application.actionMessages.requestAccessSuccess }}
                </div>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="failureMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
            <div class="container">
                <div class="text-center" id="requestPurchaseFail" style="display: none">
                    {{ application.actionMessages.requestPurchaseFail }}
                </div>
                <div class="text-center" id="requestAccessFail" style="display: none">
                    {{ application.actionMessages.requestAccessFail }}
                </div>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <section id="Overview" class="section--gutter">
            {{ productOverview(application, i18n.custom.cta_labels) }}
        </section>
    </div>
</div>

{% if application.features.items.length > 0 %}
<section id="Features" class="section section--light-grey">
    {% for navItem in application.navigation.items %}
    {% if 'features' === navItem.value %}
    {{ carousel('profile', application.features, application.features.items, 'profile', true, false, false, 'desktop',
    1, true, false, navItem.label)
    }}
    {% endif %}
    {% endfor %}
</section>
{% endif %}

{% if application.editions.items.length > 0 %}
<section id="Editions" class="section section--white">
    {{editionsPricing(application.editions, i18n.custom.cta_labels)}}
</section>
{% endif %}
{% if application.addonProducts.items.length > 0 %}
<section id="Addons" class="section section--white">
    {{addonProducts(application.addonProducts, i18n.custom.cta_labels)}}
</section>
{% endif %}
<div id="appbottom" data-vue-page="profile2">
    {% if (application.support.termsUrl != NULL) or (application.support.privacyUrl != NULL) or (application.support.knowledgebaseUrl != NULL) %}
    <section id="Policies" class="section section--gallery gutter__large--y">
        {{ productSupport(application) }}
    </section>
    {% endif %}
    {% if not ENV_PROD %}
    <!--    <Toaster :application="{{ application | dump }}"></Toaster> -->
    {% endif %}
</div>
{% endblock %}

{% endblock %}

{% block analytics_data %}
{{ utagDataScript({
journey_name: 'AppDirect Purchase',
journey_type: 'acquisition',
page_name: 'uk:business:app direct:product:Microsoft Office 365',
page_title: 'Microsoft Office 365',
site_section_lvl_3: 'product',
product_brand: 'Microsoft',
product_category: 'Business Software',
product_event: 'view',
product_id: '',
product_name: 'Office 365',
product_sku: '',
product_target_segment: 'small business'
}) }}
{% endblock %}
